<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="clientProcessNum" value="100"/>
    
    <add key="defaultTimeout" value="1000"/>
    <add key="defaultRetryCount" value="2"/>
    
    <add key="brokerIp" value="127.0.0.1"/>
    <add key="brokerPort" value="5200"/>
    
    <add key="stockServerIp" value="127.0.0.1"/>
    <add key="stockServerPort" value="5300"/>

  </appSettings>
</configuration>